<div class="palette-item grid-stack-item size-3w size-1h" gs-w="3" gs-h="1" data-type="number_input" title="Numeric Input">
    <div class="grid-stack-item-content preview-widget">
        <div class="dashboard-widget number-input">
            <div>
                <input type="number" class="form-input"></input>
            </div>
            <div class="dashboard-widget button">
                <button type="button" class="form-button">Set</button>
            </div>
        </div>
        <span class="widget-label"></span>
    </div>
</div>