<div class="palette-item grid-stack-item size-3w size-1h" gs-w="5" gs-h="1" data-type="slider" title="Slider">
    <div class="grid-stack-item-content preview-widget">
        <div class="dashboard-widget slider">
            <div class="value-label"></div>
            <div class="meter-row">
                <span class="min-label"></span>
                <input class="slider-input" type="range" min="0" max="10" value="0"></meter>
                <span class="max-label"></span>
            </div>
        </div>
        <span class="widget-label"></span>
    </div>
</div>