<div class="palette-item grid-stack-item size-2w size-1h" gs-w="2" gs-h="1" data-type="trend" title="Trend Label">
    <div class="grid-stack-item-content">
        <div class="dashboard-widget trend-widget-container">
            <div class="trend-graphic-box">
                <span class="trend-arrow">↑</span>
            </div>
            <div class="trend-text-box">
                <span class="roc-label">-- /</span>
            </div>
        </div>
        <span class="widget-label"></span>
    </div>
</div>